body{
  background-color: rgba(0, 0, 255, 0.756);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.Afford-Container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.756);
  color: white;
  
}


@media (max-width: 480px) {
  .Afford-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
  } 
  .Afford-text{
    text-align: center;
    font-size: 10;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    text-align: center;

  }
  body{
    height: 900%;
  }
}


.Afford-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  align-items: stretch;
}

.Mother-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.container{
 height: 600px; 
 width: 350px;
 background-color: #e1e9f0;
 display: flex;
 align-items: center;
 justify-content: top;
 flex-direction: column;
 margin-top: 20px;
 border-radius: 30px;
}

@media (max-width: 480px) {
  .Mother-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
   
  } 
  .container{
    height: 600px;
    width: 300px;
  }
  .price-container{
    font-size: 1opx;
    gap: 30px;
  }
}





.image-container{
  
  
}

.image{
  height: 100px;
  width: 100px;
  border-radius: 70px;
  margin-top: 0px;
  margin-bottom: 20px;
 
 }

 .price-container{
  display: flex;
  justify-content: space-around;
  gap: 40px; 
  text-align: center;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
 }

 .Button{
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 30px;
  border-radius: 10px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  margin-top: 10px;
 }

 