body{
  background-color:  #2a0dcb;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.login-container{
   width: 500px;
   height: 800px;
   margin-top: 30px;
   margin-bottom: 30px;
   background-color: white;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
}
.image{
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
}

@media (max-width: 480px) {
  .login-container{
    width: 340px;
    height: 700px;
    
  } 
}

.login-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}


.welcome{
  font-size: 30px;
  margin-bottom: 0px;
  font-weight: 500;
  margin-top: 0px;
  
}
.please{
  font-size: 15px;
  margin-top: 0px;
}

.Email-container{
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 480px) {
  .Email-container{
  
  
    
  } 
}

input {
  border: none;
  border-bottom: 2px solid black; 
  outline: none;
  width: 430px; 
  font-size: 16px;
}

@media (max-width: 480px) {
  input{
    width:290px;
  
    
  } 
}
  .button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
@media (max-width: 480px) {
  .button-container{
    width: 330px;
    
  } 
}
  .login-button{
    width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(55, 55, 236);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  @media (max-width: 480px) {
    .login-button{
      width: 300px;
    } 
  }

  
  .Google{
    width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-weight: 600;
  }
  @media (max-width: 480px) {
    .Google{
      width: 300px;
    } 
    .text{
      color: white;
    }
  }

  .google-image{
    width: 25px;
    height: 20px;
    margin-right: 10px;
  }
  
  .text{
    font-size: 15px;
  }
  .sign{
    font-weight: 900;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s;
  }

  .sign:hover, .sign:hover {
    color: darkblue;
    font-weight: bolder;
  }
  